.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(/resources/core/plugin/treeview/default/treeview-default.gif) -64px -23px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(/resources/core/plugin/treeview/default/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -1px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(/resources/core/plugin/treeview/default/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(/resources/core/plugin/treeview/default/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(/resources/core/plugin/treeview/default/treeview-red.gif); } 

.treeview-black li { background-image: url(/resources/core/plugin/treeview/default/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(/resources/core/plugin/treeview/default/treeview-black.gif); }  

.treeview-gray li { background-image: url(/resources/core/plugin/treeview/default/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(/resources/core/plugin/treeview/default/treeview-gray.gif); } 

.treeview-famfamfam li { background-image: url(/resources/core/plugin/treeview/default/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(/resources/core/plugin/treeview/default/treeview-famfamfam.gif); } 

.treeview .placeholder {
	background: url(/resources/core/plugin/treeview/default/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(/resources/core/plugin/treeview/default/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(/resources/core/plugin/treeview/default/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(/resources/core/plugin/treeview/default/file.gif) 0 0 no-repeat; }

.jquery_treeselect{
	overflow: hidden;
	padding:20px 30px;
	border: 1px solid #f26535;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(242, 101, 53, 0.4);
	box-shadow: 0px 0px 8px 0px rgba(242, 101, 53, 0.4);
	background-color: #fff;
	width: 600px;
	height: 300px;
}
.keyvalue .jquery_treeselect{
	margin-top: 1em;
}
.jquery_treeselect_tree_wrapper{
	width: 50%;
	margin-right: 5%;
}
p.jquery_treeselect_tree_actions{
	text-indent: 0;
	text-align: left;
	margin: 0 0 1em;
}
.jquery_treeselect_tree_actions a{
	margin-right: 1em;
}

.jquery_treeselect_tree{
	border: 1px solid #C1C1C1;
	height: 260px;
	overflow-y: scroll;
}
.jquery_treeselect_selected{
	height: 260px;
	overflow-y: auto;
}

.jquery_treeselect_selected_wrapper {
	width: 35%;
	padding-left:5%;
}
.jquery_treeselect .jquery_treeselect_selected_wrapper h3{
	font-size: 14px;
	margin: 0 0 1em;
}
.col{ float: left; display:inline; margin: 0; _zoom:1;}

